.form {
    width: 30%;
    height: 75vh;
    display: grid;
    grid-gap: 1.5rem;
    margin: 0 auto;
    align-content: center;

    &__title,
    &__text {
        justify-self: center;
    }

    &__label,
    &__text {
        font-size: 1.5rem;
        color: var(--color-grey-dark-1);
    }

    &__input {
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
        // width: 30%;
        transition: all .2s;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        justify-self: stretch;
    }

    &__link {
        color: inherit;
    }
    
}