.form {
    width: 40%;
    margin: 0 auto;
    text-align: center;

    &-input {
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
        width: 80%;
        transition: all .2s;
        outline: none;
    }

    &-text {
        display: block;
        font-size: 1.5rem;
        color: var(--color-grey-dark-1);
        padding: 1rem 0;
    }

    &-link {
        color: var(--color-grey-dark-1);
    }
    
}