.hero {
    margin: 8rem auto;
    background-image: url(../../assets/hero.png);
    background-size: cover;
    height: 100vh;

    &__container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__title{
        transform: translateY(-2.5rem);
    }

    &__btn{
        align-self: center;
    }
}

