.heading-1{
    font-family: Futura;
    font-size: 4rem;
    line-height: 5rem;
    text-transform: uppercase;
}

.heading-2 {
    font-family: Futura;
    font-size: 3rem;
    font-weight: 400;
}

.content-text-1{
    font-family: Futura;
    font-size: 2rem;
}

.content-text-2 {
    font-family: Sailec, sans-serif;
    font-size: 1.5rem;
}