.title-primary{
    font-family: Futura;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
}

.content-primary{
    font-family: Futura;
    font-size: 2rem;
}